/* Definições gerais */
body {
    color: #fff;
    background: #333;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px #e63946;
    padding: 20px;
    font-size: 32px;
    color: #e63946;
    text-align: center;
}

h1, h2 {
    font-family: 'Chakra Petch', sans-serif;
    color: #e63946;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
}

/* Seção de chamada */
.chamada {
    background: #6f4f4f;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.chamada-texto {
    margin-right: 5%;
    max-width: 600px;
}

/* Estilo para as categorias de receitas */
.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
    background: #444;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.7;
    height: 180px;
    width: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid #e63946;
}

/* Estilo para títulos de categorias */
.categoria h2 {
    color: #e63946;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

/* Estilo para os detalhes das receitas */
.receita-card {
    background-color: #555;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
}

.receita-card h3 {
    font-size: 28px;
    color: #e63946;
}

.receita-card p {
    font-size: 18px;
    color: #e0e0e0;
}

/* Botões */
button {
    background-color: #e63946;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d62828;
}